.table {
    width: 100%;
}

.table-header {
    width: 100%;
}

.table-body {
    width: 100%;
}

.table-header-tr {;
    width: 100%;
    display: flex;
}

.table-header-td {
    width: 25%;
    display: flex;
    min-width: 120px;
    max-width: 360px;
}

.table-header-td-w {
    width: 50%;
    display: flex;
    min-width: 360px;
    max-width: 600px;
}

.table-body-tr {
    width: 100%;
    display: flex;
}

.table-body-td {
    width: 25%;
    display: flex;
    min-width: 120px;
    max-width: 360px;
}

.table-body-td-w {
    width: 50%;
    display: flex;
    min-width: 360px;
    max-width: 600px;
}

.header-content {
    width: 240px;
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.body-content {
    width: 240px;
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}